* {
	box-sizing: border-box;
	color: white;
	font-family: 'Crimson Text', serif;
}

body {
	background-image: url('penny-dreadful1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #3B3B3B;
}

img {
	width: 98%;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2, h3, .begin>p {
	text-align: center;
	margin: 20px;
}

h2 {
	font-size: 30px;
	font-family: 'Parisienne', cursive;
}

p {
	margin: 7px;
	font-size: 18px;
}

.correct-ans {
	font-color: #FFD700;
	font-weight: bold;
}

.wrong-ans {
	font-color: #CD3700;
	font-weight: bold;
}

button {
	position: relative;
	display: block;
	width: 100px;
	height: 40px;
	color: #3B3B3B;
	margin-right: auto;
	margin-left: auto;
	user-select: none;
}

.questButtons {
	height: 85px;
}

section {
	margin-top: 75px;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	height: 440px;
	border: 2px #666666;
	border-style: double;
	border-radius: 10px;
	background-color: black;
	padding: 45px;
}

input {
	width: 25px;
	margin-bottom: 17px;
}

.progress {
	top: 10px;
	display: flex;
	justify-content: space-between;
}

.post-text {
	display: inline-block;
	font-style: italic;
	font-size: 15px;
	margin-left: 15px;
}